
/* =============================================================================
   Helpers
   ========================================================================== */

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &.cover-sit {
    background-position: center bottom;
  }
}
