
/* =============================================================================
   Media Queries
   ========================================================================== */

// Small
@media screen and (max-width: 40rem) {

  .page-section {
    padding: 2rem 0;
  }

  .mobile-spacer {
    height: 2rem;
  }

}

// Medium
@media screen and (min-width: 40.063rem) and (max-width: 64rem) {

  .page-section {
    padding: 3rem 0;
  }

}

// Medium and less
@media screen and (max-width: 64rem) {

  #main-nav {
    padding: 0.5em 0;

    ul.menu > li {
      float: none;
      border: 0 !important;
    }
  }

}

// Large
@media screen and (min-width: 64.063rem) {}