
/* =============================================================================
   Media Queries
   ========================================================================== */

// Small
@media screen and (max-width: 40rem) {}

// Medium
@media screen and (min-width: 40.063rem) and (max-width: 64rem) {}

// Medium and less
@media screen and (max-width: 64rem) {

  #main-nav {
    padding: 0.5em 0;

    ul.menu > li {
      float: none;
      border: 0;
    }
  }

}

// Large
@media screen and (min-width: 64.063rem) {}