
/* =============================================================================
   Theme
   ========================================================================== */

body {
  font-family: @baseFontFamily;
}

a {
  color: @orange;
  text-decoration: underline;
}

#site-title {
  min-height: 150px;
  background-image: url(../img/logo.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#main-nav {
  background-color: @green;

  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      padding: 1em;
    }
  }

  a {
    color: @white;
    font-weight: bold;
  }
}