
/* =============================================================================
   Theme
   ========================================================================== */

body {
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  font-weight: 300;
  color: @baseTextColor;
}

a {
  color: @orange;
  text-decoration: none;

  &:hover {
    color: @orange;
    text-decoration: none;
  }
}

h1, h2, h3 {
  font-family: @hFontFamily;
  color: @black;
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;

  &.section-title {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.25em;
}

p {
  &.subtitle {
    font-size: 1.5em;
  }

  &.lead {
    font-size: 1.25em;
  }
}

.text-serif {
  font-family: @serifFontFamily;
}

.text-upper {
  text-transform: uppercase;
}

.text-large {
  font-size: 1.25em;
}

.text-xlarge {
  font-size: 2em;
}

.text-small {
  font-size: 0.75em;
}

.text-white {
  color: @white;
}

.page-section {
  padding: 5rem 0;

  &.page-section-fat {
    padding: 8rem 0;
  }

  &.page-section-white-text {
    color: @white;

    h1, h2, h3,
    h4, h5, h6 {
      color: @white;
    }
  }
}

.page-section-link {
  width: 15px;
  height: 150px;
  float: left;
  position: relative;
  left: 49%;
  top: -75px;
  background-image: url(../img/page-section-link.png);
  background-size: cover;
}

#site-title {
  max-width: 20rem;
  margin: 0;
}

#main-nav {
  background-color: @green;

  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: block;
      float: left;
      border-left: 1px solid @white50;

      &:last-child {
        border-right: 1px solid @white50;
      }

      > a {
        display: block;
        padding: 0.5rem 1rem;

        &:before {
          display: inline-block;
          font-family: 'FontAwesome', sans-serif;
          font-weight: normal;
          font-size: 1.5em;
          padding-right: 0.5em;
          color: @white;
          vertical-align: middle;
        }

        &:hover {
          background-color: darken(@green,10%);
        }
      }

      &.current-menu-item,
      &.current-menu-ancestor {
        > a {
          background-color: darken(@green,10%);
        }
      }

      &.menu-home > a:before {
        content: "\f015";
      }

      &.menu-solutions > a:before {
        content: "\f12e";
      }

      &.menu-faq > a:before {
        content: "\f059";
      }

      &.menu-calculator > a:before {
        content: "\f1ec";
      }

      &.menu-news > a:before {
        content: "\f1ea";
      }

      &.menu-about > a:before {
        content: "\f05a";
      }

      &.menu-contact > a:before {
        content: "\f003";
      }
    }
  }

  a {
    color: @white;
    font-weight: 500;
    text-decoration: none;
    .transition();
  }
}

#hero {
  h1 {
    font-weight: bold;
    color: @white;
    text-shadow: 0 3px 10px @black50;
  }
}

#content {
  background-color: @lightGray;
  padding: 2rem 0;
}

.page,
.post {
  background-color: @white;
  .border-radius(@baseRadius);

  .page-header,
  .post-header,
  .page-content,
  .post-content,
  .page-comments,
  .post-comments {
    padding: 2rem 3rem;
  }

  .page-header,
  .post-header {
    border-bottom: 1px solid @borderColor;
    .multi-border-radius(@baseRadius, @baseRadius, 0, 0);

    &.page-header-with-bg,
    &.post-header-with-bg {
      color: @white;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border-bottom-color: @orange;

      h1 {
        color: @white;
      }
    }
  }

  .page-content,
  .post-content {
    a {
      text-decoration: underline;
    }
  }
}

#sidebar {
  .widget {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid @borderColor;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

body {
  &.page-template-page-raw {
    #content {
      padding: 0;
    }
  }
}