
/* =============================================================================
   Variables
   ========================================================================== */

@baseFontFamily:  'Roboto', sans-serif;
@hFontFamily:     'Merriweather Sans', sans-serif;
@serifFontFamily: 'Merriweather', serif;

@baseFontSize: 15px;

@baseTextColor:  #626262;
@lightTextColor: #999;

@white:   #fff;
@white50: rgba(255,255,255,0.50);
@white85: rgba(255,255,255,0.85);

@black:   #000;
@black10: rgba(0,0,0,0.10);
@black20: rgba(0,0,0,0.20);
@black50: rgba(0,0,0,0.50);

@lightGray: #eee;

@green:  #43b29e;
@orange: #ec534e;

@borderColor: #ccc;

@baseRadius: 3px;
@infRadius:  1000px;